:root {
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
  margin-inline: calc((100% - min(90%, 1200rem / 16)) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urlLabel {
  display: flex;
  gap: 5rem;
  margin: 1rem;
  width: 80%;
}

.urlInput {
  flex: 1;
}

.line {
  width: 100%;
  margin: 3rem 0;
}

.assetDidFields {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-block: 2rem;
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.fieldValue {
  margin: 0.25rem 0 0;
  border: 1px solid black;
  height: 1.25rem;
  min-width: 10rem;
  text-align: center;
}

.assetDid {
  display: flex;
  color: green;
}

.invalid {
  color: red;
}
